<img src="https://github.com/Microsoft/sqlworkshops/blob/master/graphics/solutions-microsoft-logo-small.png?raw=true" alt="Microsoft">
<br>

# SQL Server 2019 big data cluster Tutorial
## 03 - Creating and Querying a Data Mart

In this tutorial you will learn how to create and query a Data Mart using Virtualized Data in a SQL Server big data cluster. 

**TODO:** Complete Tutorial

In [9]:
USE WideWorldImporters;
GO

IF NOT EXISTS(SELECT * FROM sys.external_data_sources WHERE name = 'SqlDataPool')
  CREATE EXTERNAL DATA SOURCE SqlDataPool
  WITH (LOCATION = 'sqldatapool://service-mssql-controller:8080/datapools/default');

In [10]:
CREATE EXTERNAL TABLE [web_clickstream_clicks_data_pool]
("wcs_click_date_sk" BIGINT , "wcs_click_time_sk" BIGINT , "wcs_sales_sk" BIGINT , "wcs_item_sk" BIGINT, "wcs_web_page_sk" BIGINT , "wcs_user_sk" BIGINT)
WITH
(
    DATA_SOURCE = SqlDataPool,
    DISTRIBUTION = ROUND_ROBIN
);

In [ ]:
/* Create an External Table that can read from the Storage Pool File Location */
IF NOT EXISTS(SELECT * FROM sys.external_tables WHERE name = 'web_customers_hdfs')
BEGIN
    CREATE EXTERNAL TABLE [web_customers_hdfs]
    (FieldName" VARCHAR(250) 
)
    WITH
    (
        DATA_SOURCE = SqlStoragePool,
        LOCATION = '/adventureworks_export',
        FILE_FORMAT = csv_file
    );
END

In [12]:
BEGIN
   INSERT INTO web_clickstream_clicks_data_pool
   SELECT wcs_user_sk, i_category_id, COUNT_BIG(*) as clicks
     FROM web_clickstreams_hdfs
END

: Msg 208, Level 16, State 1, Line 2
Invalid object name 'sales.dbo.web_clickstreams_hdfs_parquet'.

In [22]:
SELECT count(*) FROM [dbo].[web_clickstream_clicks_data_pool]
SELECT TOP 10 * FROM [dbo].[web_clickstream_clicks_data_pool]

(No column name)
512000

wcs_click_date_sk,wcs_click_time_sk,wcs_sales_sk,wcs_item_sk,wcs_web_page_sk,wcs_user_sk
37019,85961,NULL,3971,14,NULL
37019,24228,NULL,3716,14,NULL
37019,62814,NULL,3143,14,NULL
37019,60131,NULL,13202,14,NULL
37019,48860,NULL,13714,14,NULL
37019,70453,NULL,248,14,NULL
37019,72847,NULL,6721,14,NULL
37019,50429,NULL,17647,14,NULL
37019,60478,NULL,16914,14,NULL
37019,63148,NULL,6664,14,NULL